{{#each users as |user| }}
<div class="block text-sm font-medium text-gray-700">
  <div class="text-lg font-medium leading-6 text-gray-900">
    <h2>{{user.name}}</h2>
  </div>
  <div>
    
  </div>
</div>
{{/each}}