 <div class=" w-screen h-auto flex flex-col justify-center items-center gap-16">
    <h1 class="text-6xl">{{user.name}}</h1>
    <p class="text-2xl">User Id = {{user.id}}</p>
    <p class="text-2xl">Tester: {{ numJ }} </p>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="create-entry">Create Entry</button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="all-entries">View All Entries</button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="past-week">Past Week</button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="past-month">Past Month</button>
    <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="logout">Log Out</button>
    <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="tester">Tester</button>  
 </div>

{{!-- {{#each users as |user| }}
<div class="block text-sm font-medium text-gray-700">
  <div class="text-lg font-medium leading-6 text-gray-900">
    <h2 class="text-red-400">{{user.name}}</h2>
  </div>
  <div>
    
  </div>
</div>
{{/each}} --}}
<script src="/js/homepage.js"></script>
