<nav class="p-5 translate-y-0 bg-white shadow md:flex md:items-center md:justify-between">
        <div class="flex justify-between items-center">
            <span class="text-4xl font-[Poppins] cursor-pointer">
                <img class="h-12 inline " src="./img/aura-yoga-vector-17700032.jpeg">
                Aura
            </span>

            <span class="text-3-x1 cursor-pointer mx-2 md:hidden block">
                <ion-icon name="menu-outline" onclick="Menu(this)"></ion-icon>
            </span>
        </div>

    <ul class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-4 
    md:pl-0 pl-5 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
        <li class="mx-4 my-6 md:my-0">
            <a href="" class="text-xl hover:font-bold hover:text-indigo-600 duration-500"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="" class="text-xl hover:font-bold hover:text-sky-400 duration-500"><ion-icon name="calendar-outline"></ion-icon>Calender</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="" class="text-xl hover:font-bold hover:text-cyan-400 duration-500"><ion-icon name="document-text-outline"></ion-icon>Entries</a>
        </li>
    </ul>
</nav>



<div class="w-screen h-3/4 flex flex-col justify-center items-center gap-8 font-[calibri]">
    <div class="w-full md:w-3/4 flex flex-col justify-center items-center gap-4">
        <Header class="text-2xl md:text-4xl flex flex-col items-center justify-center">Suggestions:
            <p id="suggestion"> answer</p>
        </Header>
        <div class="w-screen flex justify-center items-center ">
            <form class="w-full md:w-3/4 flex flex-col">
                <div class="flex flex-row justify-around md:text-3xl">
                    <div class="flex flex-row ">
                        <!-- Topic Input -->
                        <label>Topic:</label>
                        <input type="text" />
                    </div>
                    <div class="flex flex-row">
                        <!-- Mood:  -->
                        <label>Mood:</label>
                        <p>Happy</p>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center">
                <label class="font-[calibri] py-4 px-8 text-3xl" for="story" >Journal:</label>
                <textarea class="w-11/12 md:w-3/4 h-1/2 rounded border-2 border-solid border-gray-300 font-[Poppins]" rows="10" placeholder="Write something about yourself here..."></textarea>
                </div>
                <br/>
                <div class="flex justify-center">
                <button class="w-48 h-12 rounded-xl shadow-lg shadow-gray-400 hover:font-bold font-[Poppins] py-1 px-2 cursor-pointer bg-white rounded">Save entry</button>
                </div>
            </form>
        </div>
    </div>
</div> 
