<!DOCTYPE html>
<html lang="en">
</body>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aura</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-screen h-screen bg-blue-300">
 
      {{{ body }}}

    {{!-- {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}} --}}
  </body>

</html>