<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="Develop/public/css/global.css">
    <script src="../../public/js/app.js"></script>
  </head>
  <body>
    <header class="color-blue display-flex justify-space-between align-center p-2">
      <h1 class="color">
        User Registry
      </h1>
      {{#if logged_in}}
      <nav>
        <button class="btn" id="logout">logout</button>
      </nav>
      {{/if}}
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
        
    </footer>

<<<<<<< HEAD
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
=======
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AURA Login</title>
  <link rel="stylesheet" href="./dst/output.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-blue-300 flex-wrap block grid h-screen place-items-center text-center">
  <div class="border-gray-300">
    <header class="m-0 flex-wrap border-2 rounded-sm border-gray-300 bg-green-400 p-10">
      <h1 class="text-teal-700 text-center text-4x1">
        AURA
      </h1>
      {{#if logged_in}}
      <nav class="content-center ">
        <button id="logout" class="border-2 rounded border-gray-300 content-center p-1 bg-gray-300 flex-wrap">logout</button>
      </nav>
      {{/if}}
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
    <footer>
        
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
>>>>>>> dev

</html>